<h1>
  <strong>Name:</strong>
  <%= @cocktail.name %>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
</h1>
<ul>
<% @cocktail.doses.each do |dose|%>
  <li><h4><%= dose.description %> of <%= dose.ingredient.name %> <%= link_to 'Delete', dose_path(dose), method: :delete, data:{confirm: "Are you sure?"} %></h4></li>
<% end %>
</ul>
<%= link_to 'Add ingredients', new_cocktail_dose_path(@cocktail) %>
<%= link_to 'Back', cocktails_path %>
